@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.ant-descriptions-item .ant-descriptions-item-container {
    flex-direction: column;
    gap: 4px;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: FadeIn 0.3s ease-in-out;
}
